---
import Layout from "../../layouts/Layout.astro";

const response = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=1000`);
const json = await response.json();
const pokemon = json.results;

const q = Astro.url.searchParams.get("q")?.toLowerCase() ?? "";
const filteredPokemon = pokemon.filter((p) => p.name.toLowerCase().includes(q));
---

<Layout title="Pokemon">
  <form>
    <input
      type="text"
      name="q"
      value={q}
      class="p-3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-xl border-gray-300 border-2 rounded-md"
      placeholder="Search"
    />
  </form>
  {
    filteredPokemon.map((poke) => (
      <div>
        <a rel="prefetch" href={`/pokemon/${poke.name}`}>
          {poke.name}
        </a>
      </div>
    ))
  }
</Layout>
