---
import Layout from "~/layouts/Layout.astro";

// This works
const response = await fetch("https://randomuser.me/api/");
const data = await response.json();
console.log(data);

// Events.getMany();

// Try TN
// let urlParams = new URLSearchParams({
//     websiteConfigId: CONFIG_ID,
//     // perPage: 500,
//     ...params,
//   });

const tnRes = await fetch(
  "https://sandbox.tn-apis.com/catalog/v2/events?websiteConfigId=12498&filter=date%2Fdate+gt+2022-12-21T00%3A00%3A00-05%3A00",
  {
    headers: {
      Authorization: "Bearer d358c3f9-6180-37a2-9e86-38621aebf9bb",
    },
  }
).then((res) => res);

console.log(tnRes);

// const tnData = await tnRes.json();
// console.log(tnData);

// const events = await Events.getMany({
// 	geoFilter: `nearby(38.8920807, -77.0823054, 60mi)`
// 	// filter: `date/date gt ${formatISO(startOfToday())}`
// })

// let urlParams = new URLSearchParams({
// 	grant_type: "client_credentials"
// })
// const events = await fetch(`https://sandbox.tn-apis.com/catalog/v2/events`, {
// 	headers: {
// 		Authorization: "Bearer " + "d358c3f9-6180-37a2-9e86-38621aebf9bb"
// 	}
// })
// 	.then(res => {
// 		if (!res.ok) console.log("three ", res)
// 		return res.json()
// 	})
// 	.then(json => {
// 		console.log("four ", `/events?${urlParams}`)
// 		console.log("five ", json.results || json)
// 		if (json.results) {
// 			return json.results || []
// 		} else {
// 			return json || {}
// 		}
// 	})

// Events.getMany();
---

<Layout title="Welcome to Astro.">
  <!-- <main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/events/5091390"
				title="Events"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="/foo"
				title="Foo"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main> -->
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
