---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms & Conditions">
  <div class="bg-white">
    <div class="mx-auto max-w-6xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="max-w-2xl lg:mx-auto lg:text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Terms of Use
        </h2>
        <!-- <p class="mt-4 text-gray-500">
				If we decide to change our privacy policy, we will post those changes to this privacy policy
				so that you are aware of what information we collect, how we use it, and under what
				circumstances, if any, we disclose it. We reserve the right to modify this privacy policy at
				any time, so please review it frequently. If we make material changes to this policy, we
				will notify you here, by email, or by means of a notice on our home page prior to the change
				becoming effective.
			</p> -->
      </div>
      <div class="mt-12 prose mx-auto max-w-none">
        <h3>General</h3>
        <p>
          SharpSeat.com acts as an intermediary between buyers and ticket
          sellers ("TICKET SELLERS") to facilitate the purchase and sale of
          event tickets, and as such is not directly involved in the actual
          ticket sale transaction between the buyers and TICKET SELLERS. All
          sales are final. As tickets sold through SITE are often obtained
          through the secondary market and prices are determined by the
          individual ticket seller, the prices for tickets may be above or below
          face value. Tickets sold through SITE are from a third party;
          therefore, the buyer's name will not be printed on the tickets. Please
          note that the name on the tickets does not affect the buyer's ability
          to access the event.
        </p>
        <p>
          The following are the rules ("TERMS") that govern use of the
          SharpSeat.com Web Site ("SITE") by the user of the SITE ("USER"). By
          using or visiting the SITE, USER expressly agrees to be bound by these
          TERMS and to follow these TERMS and all applicable laws and
          regulations governing the SITE. SITE reserves the right to change
          these TERMS at any time, effective immediately upon posting on the
          SITE. If USER violates these TERMS SharpSeat.com may terminate USER'S
          access to the SITE, bar USER from future use of the SITE, cancel
          USER'S ticket order, and/or take appropriate legal action against
          USER.
        </p>
        <h3>Above Face Value</h3>
        <p>
          Tickets sold through SITE are often obtained through secondary market
          TICKET SELLERS and are being resold, in many cases, above the price or
          "face value" listed on the ticket. All ticket prices include
          additional service charges and handling fees as defined on each order.
          SITE and its TICKET SELLERS are not directly affiliated with any
          performer, sports team, or venue; and SITE does not act as a primary
          sale box office, unless otherwise stated. By agreeing to these TERMS,
          USER agrees that the purchase price for tickets on their order does
          not reflect the original purchase price of the ticket and may be
          either higher or lower than the original purchase price.
        </p>
        <h3>Orders</h3>
        <p>
          placed through SITE will be fulfilled by one of SITE'S network of
          participating TICKET SELLERS. Contact information for the TICKET
          SELLER who fulfills USER's order (hereinafter known as "FULFILLER")
          will be provided to USER upon completion of the purchase process. If
          this information is lost, USER may contact
          customersupport@mytickettracker.com to retrieve information about the
          order.
        </p>
        <h3>All sales are final</h3>
        <p>
          Since tickets are a one-of-a-kind item and not replaceable, there are
          no refunds, exchanges or cancellations. If an event is postponed or
          rescheduled, tickets will be honored for the rescheduled date. New
          tickets will not need to be issued. If an event is cancelled without a
          rescheduled date, USER will need to contact the FULFILLER for a
          refund. The FULFILLER may require USER to return the supplied tickets
          at USER's expense before receiving any refund USER is entitled to due
          to cancellation. SITE is not responsible for providing or securing
          this refund for USER. Any shipping and handling charges are not
          refundable. Refunds will be processed in the same currency as the
          original order. Conversion charges, including though not exhaustive of
          the ones issued by USER's bank, if any, are not covered by
          SharpSeat.com or Fulfiller. Neither SITE nor the FULFILLER will issue
          exchanges or refunds after a purchase has been made or for lost,
          stolen, damaged or destroyed tickets. When USER receives tickets, USER
          should keep them in a safe place. Please note that direct sunlight or
          heat may damage tickets.
        </p>

        <h3>Pricing</h3>

        <p>
          All prices are in United States Dollars (USD) unless otherwise
          specifically stated. SITE cannot confirm the price of an item until
          after an order is completed by USER. Despite SITE'S best efforts, a
          small number of the items listed on the SITE may be priced
          incorrectly. If the FULFILLER discovers an item's correct price is
          higher than the stated price, the FULFILLER will either complete the
          order at the original price, contact USER to inform them of different
          price with an option to purchase, or cancel USER'S order and notify
          USER of such cancellation.
        </p>

        <h3>Schedule of Fees and Charges</h3>

        <p>
          We collect your email address and the other information that you
          provide in order to respond to your communication.
        </p>

        <h3>Taxes</h3>

        <p>
          Prices stated on the SITE do not include any state or other local
          taxes that may apply to USER'S order. TICKET SELLERS may collect sales
          tax as is appropriate for their locality. If taxes are applicable to
          USER'S order they will be added to USER'S order as a separate charge
          in addition to the TOTAL.
        </p>

        <h3>International Orders</h3>
        <p>
          International Orders placed by USER may be subject to delayed
          processing. SITE recommends that USER contact their credit card
          company or financial institution prior to placing an order to prevent
          unnecessary delays or holds. Neither SITE, nor FULFILLER shall be
          responsible for delays, holds, or any extra fees associated with
          placing an International Order.
        </p>

        <h3>Disputed Charges</h3>
        <p>
          USER is responsible for any and all legal fees incurred by USER,
          FULFILLER, and/or SITE associated with USER'S disputed charges and
          chargebacks for purchases made on SITE. In no event will SITE or
          FULFILLER be responsible for such legal fees.
        </p>

        <h3>Event Listings</h3>
        <p>
          SITE does not guarantee the accuracy of event information on SITE
          including but not limited to event name, event location or venue,
          event start time, or event date.
        </p>

        <h3>Ticket Holder Behavior Policy</h3>
        <p>
          The USER agrees to abide by all rules and policies of the venue where
          the event is located relating to conduct and behavior. Should the USER
          be ejected from the event for failure to abide by the venue's rules
          and policies, USER shall be subject to all applicable fines and legal
          or other expenses associated with the ejection. Further, should the
          ejection result in the loss of the TICKET SELLER's right to use any
          other season tickets at that venue, or the right to purchase other
          tickets from that venue, USER shall be held liable for all reasonable
          costs, expenses, and losses associated with said loss, including but
          not limited to all direct, indirect, vicarious, consequential,
          exemplary, incidental, special or punitive damages, including lost
          profits.
        </p>

        <h3>Ticket Availability</h3>

        <p>
          SITE cannot guarantee ticket availability until USER is in possession
          of their tickets. Generally, all ticket listings on SITE are a unique
          set of tickets from an individual TICKET SELLER. Some ticket listings
          on SITE may only be representations of available tickets and not
          actual seat locations or currently available tickets. Occasionally
          tickets ordered may no longer be available at the price or in the
          quantity originally ordered at the time the order is received. If
          equivalent or better seat locations are available at the same price,
          the TICKET SELLER will fill the order with the alternative seat
          locations. If no alternates are available, either USER'S credit card
          will not be charged at all or the entire amount will be refunded, and
          USER will be notified that the ticket request has been rejected.
        </p>

        <h3>Fraudulent Use</h3>
        <p>
          In order to protect USER from fraud, USER may be required to provide
          additional proof of identify on any order. Proof of identity may
          include but is not limited to a signed credit card authorization
          and/or photocopies of public documents such as a state driver's
          license or federal passport.
        </p>

        <h3>Shipping</h3>
        <p>
          All orders are shipped to USER using the delivery method chosen for
          the order. Most orders are shipped the same business day in which they
          are received. Orders placed after business hours may be shipped on the
          next business day. Shipments may require direct signature at the point
          of delivery.
        </p>

        <h3>Delayed Shipment</h3>
        <p>
          Event tickets are generally delivered according to the delivery method
          selected at the time of ticket checkout. Most orders are shipped the
          same business day in which they are received or, if placed after
          business hours, orders may be shipped on the next business day.
          However, tickets may not always be available for immediate delivery,
          particularly in cases when the tickets have been purchased far in
          advance of the event in question or for certain events including but
          not limited to the following: all off-season orders for professional
          sporting leagues, concerts, and Las Vegas events tickets. While most
          tickets are delivered within three business days of the delivery
          method chosen, this does not imply a guaranteed delivery date. In
          these situations tickets may be marked with an estimated ship date.
          USER will be provided with account access information that will allow
          them to view the status of their order and tracking information, if
          available, after purchase. In the case where tracking information is
          not available USER may contact a representative of the FULFILLER for
          shipment information or an estimated delivery date. Tickets will be
          shipped when available, and choice of an expedited delivery method
          does not guarantee that tickets will be shipped immediately. USER
          should check the order notes for the estimated delivery date.
        </p>

        <h3>International Shipping</h3>
        <p>
          If USER is located outside of the United States, USER must choose an
          International Delivery option. If a domestic shipping option is chosen
          for an order to be shipped outside the United States, the shipping
          cost will be adjusted by the FULFILLER after the order is placed to
          use the International Rate.
        </p>

        <h3>Delivery Verification</h3>
        <p>
          If USER specifies a shipping address that does not allow for Delivery
          Verification, such as a Post Office Box, USER may be required to pay
          an additional fee to cover the additional risks associated with this
          type of order. If such a shipping address is used, the FULFILLER will,
          at their discretion, either contact USER about the additional fee
          prior to shipping or cancel USER’S order and notify USER of such
          cancellation. Shipments may require direct signature at the point of
          delivery. Once FULFILLER has shipped the tickets, it is USER
          responsibility to receive the package. Should the package be refused,
          undelivered, or returned, refunds or credits will not be issued by
          FULFILLER as per the all sales are final term of these Terms. If a
          package has been returned and must be re-shipped by the FULFILLER, it
          is the USER responsibility to contact the FULFILLER for re-shipping
          options. USER understands that additional delivery fees may be charged
          prior to reshipping.
        </p>

        <h3>E-Ticket Instant Download</h3>
        <p>
          Electronic tickets or "e-tickets" marked as "Instant" may not be
          available for immediate download in all circumstances. Due to
          potential fraud concerns, some "Instant" e-ticket purchases may be
          downgraded to regular e-ticket download to allow for additional
          processing. In such cases, USER will receive notification with USER'S
          receipt explaining that USER'S order has been downgraded to regular
          e-ticket download.
        </p>

        <h3>E-Ticket Download</h3>

        <p>
          Electronic tickets or "e-tickets" may not be available for immediate
          download. After placing an order, USER will receive an email with
          instructions on how to download the tickets; therefore, it is
          important that USER provides accurate email address information during
          the order process. The USER will be required to enter order specific
          credentials to gain access to the tickets, and USER must have access
          to a printer from which to print the tickets. USER is responsible for
          contacting Customer Support should USER not receive the email
          instructions, be unable to download the tickets, or be unable to print
          the tickets. Neither SITE nor FULFILLER will issue refunds for USER'S
          failure to provide a correct email address or failure to print the
          tickets.
        </p>

        <h3>Electronic Transfer</h3>

        <p>
          Electronic transfer delivery may not be available for immediate
          access. After placing an order, USER will receive an email with
          instructions on how to accept the electronic transfer; therefore, it
          is important that USER provides accurate email address information
          during the order process. The USER will be required to create an
          account with the associated ticket transfer system to gain access to
          the tickets, and USER must have access to a smart device to present
          the QR code displayed via the electronic transfer system for entry at
          the event. USER is responsible for contacting Customer Support should
          USER not receive the email instructions, be unable to accept the
          ticket transfer, or be unable to locate the ticket transfer email.
          Neither SITE nor FULFILLER will issue refunds for USER'S failure to
          provide a correct email address or accept ticket transfer offer.
          Neither SITE nor FULFILLER will issue refunds in the event a USER
          declines the ticket transfer offer.
        </p>

        <h3>Local Delivery</h3>

        <p>
          USER must pick up the tickets from the designated location provided to
          the USER, which will be located near the venue. USER will need to
          bring a government-issued ID in order to claim the tickets and may be
          asked to present the credit used at time of purchase as further
          verification. Should USER encounter a problem at the local delivery
          location, USER must contact FULFILLER for assistance. Neither SITE nor
          FULFILLER will issue refunds for USER'S failure to provide a valid
          government-issued ID for release of tickets or if USER does not pickup
          tickets from designated location.
        </p>

        <h3>Will-Call Option</h3>

        <p>
          USER must pick up the tickets at the box office of the venue
          approximately one hour before the scheduled start of the event. USER
          will need to bring a government-issued ID in order to claim the
          tickets. Should USER encounter a problem at the box office, USER must
          contact FULFILLER for assistance.
        </p>

        <h3>Permitted Use</h3>

        <p>
          USER agrees that USER is only authorized to visit, view, and to retain
          a copy of pages of this SITE for USER'S own personal use, and that
          USER shall not duplicate, download, publish, modify, or otherwise
          distribute the material on this SITE for any purpose other than to
          review event and promotional information, for personal use, or to
          purchase tickets or merchandise for USER'S personal use, unless
          otherwise specifically authorized by SITE to do so. USER may not use
          any robot, spider, scraper, offline reader, site search/retrieval
          application or other manual or automatic device, tool, or process to
          retrieve or in any way reproduce, circumvent, or interfere with the
          Site or its contents, nor may USER use any automated software or
          computer system to search for, reserve, buy, or otherwise obtain
          tickets from SITE. USER may not submit any software or other materials
          that contain any viruses, worms, Trojan horses, defects, date bombs,
          time bombs, or other items of a destructive nature. The content and
          software on this SITE is the property of SITE and/or its suppliers and
          is protected by U.S. and international copyright laws.
        </p>

        <h3>Links</h3>

        <p>
          The SITE may automatically produce search results that reference or
          link to third party sites throughout the World Wide Web. SITE has no
          control over these sites or the content within them. SITE cannot
          guarantee, represent or warrant that the content contained in the
          sites is accurate, legal and/or inoffensive. SITE does not endorse the
          content of any third party site, nor does SITE warrant that they will
          not contain viruses or otherwise impact USER'S computer systems. By
          using the SITE to search for or link to another site, USER agrees and
          understands that USER may not make any claim against SITE for any
          damages or losses, whatsoever, resulting from use of the SITE to
          obtain search results or to link to another site. If USER experiences
          a problem with a link from the SITE, please notify SITE at
          customersupport@mytickettracker.com and SITE will investigate USER'S
          claim and take any actions deemed appropriate at SITE'S sole
          discretion.
        </p>

        <h3>Violation of the Terms</h3>

        <p>
          SITE, in its sole discretion, and without prior notice, may terminate
          USER'S access to the SITE, cancel USER'S ticket order or exercise any
          other remedy available to it. USER agrees that monetary damages may
          not provide a sufficient remedy to SITE for violations of these terms
          and conditions and USER consents to injunctive or other equitable
          relief for such violations. SITE may release USER information by
          operation of law, if the information is necessary to address an
          unlawful or harmful activity against SITE. SITE is not required to
          provide any refund to USER if USER is terminated as a USER of this
          SITE.
        </p>

        <h3>Intellectual Property Information</h3>

        <p>
          For purposes of these TERMS, CONTENT is defined as any information,
          communications, software, photos, video, graphics, music, sounds, and
          other material and services that can be viewed by USERS on the site.
          This includes, but is in no way limited to, message boards, chat, and
          other original content. By accepting these TERMS, USER acknowledges
          and agrees that all CONTENT presented to USER on this site is
          protected by copyrights, trademarks, service marks, patents or other
          proprietary rights and laws, and is the sole property of SITE and/or
          its affiliates. USER is only permitted to use the CONTENT as expressly
          authorized by SITE or the specific CONTENT provider. Except for a
          single copy made for personal use only, USER may not copy, reproduce,
          modify, republish, upload, post, transmit, or distribute any documents
          or information from this site in any form or by any means without
          prior written permission from SITE or the specific CONTENT provider,
          and USER is solely responsible for obtaining permission before reusing
          any copyrighted material that is available on this site. Any
          unauthorized use of the materials appearing on this site may violate
          copyright, trademark and other applicable laws and could result in
          criminal or civil penalties. Neither SITE or its affiliates warrant or
          represent that USER'S use of materials displayed on, or obtained
          through, this site will not infringe the rights of third parties. All
          other trademarks or service marks are property of their respective
          owners. Nothing in these TERMS grants USER any right to use any
          trademark, service mark, logo, and/or the name of SITE or its
          affiliates.
        </p>

        <p>
          SITE reserves the right to terminate the privileges of any USER who
          uses this SITE to unlawfully transmit or receive copyrighted material
          without a license or express consent, valid defense or fair use
          exemption to do so. After proper notification by the copyright holder
          or its agent to us, and confirmation through court order or admission
          by the USER that they have used this SITE as an instrument of unlawful
          infringement, SITE will terminate the infringing USER'S rights to use
          and/or access to this SITE. SITE may, also in its sole discretion,
          decide to terminate a USER's rights to use or access to the SITE prior
          to that time if SITE believes that the alleged infringement has
          occurred.
        </p>

        <h3>Disclaimers</h3>

        <p>
          SITE MAKES NO ASSURANCES THAT THE SITE WILL BE ERROR-FREE,
          UNINTERRUPTED, OR PROVIDE SPECIFIC RESULTS FROM USE OF THE SITE OR ANY
          SITE CONTENT, SEARCH OR LINK THEREIN. THE SITE AND SITE CONTENT ARE
          DELIVERED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS. SITE MAKES NO
          ASSURANCES THAT FILES USER ACCESSES OR DOWNLOADS FROM THE SITE WILL BE
          FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES. SITE
          DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED INCLUDING ALSO ANY
          IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
          PURPOSE. SITE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING
          FROM THE USE OF THIS SITE, INCLUDING WITHOUT LIMITATION, DIRECT,
          INDIRECT, VICARIOUS, INCIDENTAL, SPECIAL, PUNITIVE, LOSS OF BUSINESS
          OR LOSS OF PROFITS OR CONSEQUENTIAL DAMAGES, WHETHER BASED UPON BREACH
          OF CONTRACT, BREACH OF WARRANTY, TORT, NEGLIGENCE, PRODUCT LIABILITY
          OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
        </p>

        <p>
          SITE DISCLAIMS ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND
          CONDUCT OF ANY THIRD PARTY USERS, SITE USERS, ADVERTISERS AND/OR
          SPONSORS ON THE SITE, IN CONNECTION WITH THE SITE SERVICE OR OTHERWISE
          RELATED TO USER USE OF THE SITE AND/OR THE SITE SERVICE. SITE IS NOT
          RESPONSIBLE FOR THE PRODUCTS, SERVICES, ACTIONS OR FAILURE TO ACT OF
          ANY TICKET BROKER, VENUE, PERFORMER, PROMOTER OR OTHER THIRD PARTY IN
          CONNECTION WITH OR REFERENCED ON THE SITE.
        </p>

        <h3>Limitation on Liability</h3>

        <p>
          USER acknowledges that SITE is a venue allowing people to buy and sell
          tickets to concert, sporting and entertainment events. The listings of
          ticket inventory on SITE are provided by a third party ("PROVIDER").
          Neither SITE nor PROVIDER is involved in the actual transaction
          between buyers and sellers. While SITE and PROVIDER may help
          facilitate the resolution of disputes, neither SITE nor PROVIDER has
          control over the content of the tickets listed on SITE, the truth or
          accuracy of such listings, the ability of the FULFILLER to sell
          tickets, or that USER and FULFILLER will actually complete a
          transaction. Regardless of this provision, if either SITE or PROVIDER
          is found to be liable, SITE or PROVIDER'S liability to USER or any
          third party is limited to the greater of (a) any amounts due under
          SITE's limited guarantee when applicable, (b) the amount of fees in
          dispute not to exceed the total fees of the transaction, or (c) $100.
        </p>

        <p>
          Except in jurisdictions where such provisions are restricted, in no
          event will SITE or PROVIDER be liable to USER for any indirect,
          vicarious, consequential, exemplary, incidental, special or punitive
          damages, including lost profits, even if SITE and PROVIDER have been
          advised of the possibility of such damages. USER further agrees that
          the maximum available remedy on any successful claim is the greater of
          the choices listed in the paragraph above.
        </p>

        <h3>Indemnity</h3>

        <p>
          USER agrees to indemnify and hold SITE, its subsidiaries, affiliates,
          officers, agents and other partners and employees, harmless from any
          loss, liability, claim or demand, including reasonable attorneys'
          fees, made by any third party due to or arising out of USER'S use of
          the SITE, including also USER'S use of the SITE to provide a link to
          another site or to upload content or other information to the SITE.
        </p>

        <h3>Governing Law</h3>

        <p>
          USER agrees that any controversy or claim arising out of or relating
          to the use of SITE will be governed by the laws of the State of
          Connecticut without regard to its conflict of law provisions. USER
          agrees to personal jurisdiction by venue in the state and federal
          courts of the State of Connecticut, Hartford County.
        </p>

        <h3>Arbitration and Dispute Resolution</h3>

        <p>
          Any controversy, claim, dispute, or other action, arising out of or
          relating to the use of SITE, any order placed on SITE, or these
          policies including any dispute over the validity, enforceability or
          scope of this arbitration provision (a "CLAIM" or "CLAIMS") shall be
          resolved through binding arbitration administered by the American
          Arbitration Association (the "AAA") in accordance with its Consumer
          Rules. SITE will pay all filing, administration, and arbitrator fees
          for any arbitration for a CLAIM of US$10,000 or less. If, however, the
          arbitrator finds that either the substance of the CLAIM or the relief
          sought in the CLAIM is frivolous or that the CLAIM was brought for an
          improper purpose (as measured by the standards set forth in Federal
          Rule of Civil Procedure 11(b)), then the payment of all such fees will
          be governed by applicable AAA Rules. In such case, USER agrees to
          reimburse SITE for all monies previously disbursed by SITE that are
          otherwise USER's obligation to pay under the AAA Rules. In addition,
          if USER initiates an arbitration for a CLAIM for more than US$10,000,
          the payment of fees will be governed by the AAA Rules. The AAA rules
          will determine whether the arbitration will take place through written
          submissions by USER and SITE, by telephone, or in person. SITE and
          USER shall both participate in the selection of an arbitrator. Any
          award issued through arbitration is enforceable in any court of
          competent jurisdiction.
        </p>

        <p>
          BY AGREEING TO ARBITRATE, USER IS GIVING UP THE RIGHT TO LITIGATE (OR
          PARTICIPATE IN AS A PARTY OR CLASS MEMBER) ANY AND ALL CLAIMS IN COURT
          BEFORE A JUDGE OR JURY. INSTEAD, A NEUTRAL ARBITRATOR WILL RESOLVE ALL
          CLAIMS. IF USER DOES NOT WISH TO BE BOUND BY THIS ARBITRATION
          PROVISION, USER MUST NOTIFY SITE IN WRITING WITHIN 30 DAYS OF THE DATE
          THAT USER PLACES AN ORDER ON SITE. USER's WRITTEN NOTIFICATION TO SITE
          MUST INCLUDE USER's NAME, ADDRESS AND ORDER NUMBER AS WELL AS A CLEAR
          STATEMENT THAT USER DOES NOT WISH TO RESOLVE CLAIMS WITH SITE THROUGH
          ARBITRATION. WRITTEN NOTIFICATION SHOULD BE MAILED TO SITE.
        </p>

        <p>
          Any arbitration or trial by a judge of any CLAIM will take place on an
          individual basis without resort to any form of class or representative
          action ("CLASS ACTION WAIVER"). Regardless of anything else in this
          Arbitration Provision, the validity and effect of this CLASS ACTION
          WAIVER may be determined only by a court and not by an arbitrator.
          USER and SITE acknowledge that the CLASS ACTION WAIVER is material and
          essential to the arbitration of any disputes between the parties and
          is non-severable from the agreement to arbitrate CLAIMS. If the CLASS
          ACTION WAIVER is limited, voided or found unenforceable, then the
          parties' agreement to arbitrate shall be null and void with respect to
          such proceeding, subject to the right to appeal the limitation or
          invalidation of the CLASS ACTION WAIVER. USER AND SITE ACKNOWLEDGE AND
          AGREE THAT UNDER NO CIRCUMSTANCES WILL A CLASS ACTION BE ARBITRATED.
        </p>

        <p>
          All CLAIMS brought by USER against SITE must be resolved in accordance
          with this Arbitration and Dispute Resolution Section. All CLAIMS filed
          or brought contrary to this Arbitration and Dispute Resolution Section
          shall be considered improperly filed. Should USER improperly file a
          CLAIM, SITE may recover attorneys' fees and costs up to US$1,000 from
          USER, provided that SITE has notified USER in writing of the
          improperly filed CLAIM, and USER fails to promptly withdraw the CLAIM
          after USER receives notice of improper filing from SITE.
        </p>

        <p>
          Events in Illinois. Pursuant to 815 ILCS 414/1.5(c)(5), complaints
          involving tickets to events in Illinois may be resolved through
          binding arbitration and administered by the American Arbitration
          Association in accordance with its Commercial Arbitration Rules
          including the Optional Rules for Emergency Measures of Protection.
          USER and FULFILLER agree to submit to the jurisdiction of the State of
          Illinois for such complaints.
        </p>

        <h3>Force Majeure</h3>

        <p>
          SITE shall not be deemed in default or otherwise liable under these
          rules and policies due to its inability to perform its obligations by
          reason of any fire, earthquake, flood, substantial snowstorm,
          epidemic, accident, explosion, casualty, strike, lockout, labor
          controversy, riot, civil disturbance, act of public enemy,
          cyber-terrorism, embargo, war, act of God, or any municipal, county,
          state or national ordinance or law, or any executive, administrative
          or judicial order (which order is not the result of any act or
          omission which would constitute a default hereunder), or any failure
          or delay of any transportation, power, or communications system or any
          other or similar cause not under SITE'S control (hereinafter all of
          the foregoing is collectively referred to as FORCE MAJEURE).
          Notwithstanding the foregoing, SITE shall be permitted to terminate
          this Agreement with or without notice to USER in the event that USER
          is prevented from performing hereunder due to FORCE MAJEURE.
        </p>

        <h3>Registration</h3>

        <p>
          Certain areas of the SITE are provided solely to registered USERS of
          the SITE. Any USER registering for such access agrees to provide true
          and accurate information during the registration process. SITE
          reserves the right to terminate the access of USER should SITE know,
          or have reasonable grounds to suspect that USER has entered false or
          misleading information during the registration process. ALL REGISTERED
          USERS MUST BE OVER EIGHTEEN (18) YEARS OF AGE. Children under the age
          of eighteen (18) shall not be permitted to register. SITE reserves the
          right to require valid credit card information as proof of legal age.
          SITE maintains a strict online Privacy Policy and will not sell or
          provide USER credit card information to third parties.
        </p>

        <h3>USER Account</h3>

        <p>
          USER will select a username and password as part of the registration
          process. All USER account pages are protected with Secure Socket Layer
          (SSL) encryption. USER is fully responsible for maintaining the
          confidentiality of their username and password. USER agrees to
          immediately notify SITE at customersupport@mytickettracker.com should
          USER know, or have reasonable grounds to suspect, that the username or
          password have been compromised. SITE shall not be responsible for
          USER'S failure to abide by this paragraph. SITE may, in its sole
          discretion, terminate the USER'S account for any reason. Under no
          circumstances shall SITE be liable to any USER or third party for
          termination of USER'S account.
        </p>

        <h3>Third Party Advertisers</h3>

        <p>
          SITE may allow third party advertisers to advertise on the SITE. SITE
          undertakes no responsibility for USER'S dealings with, including any
          on-line or other purchases from, any third party advertisers. SITE
          shall not be responsible for any loss or damage incurred by USER in
          its dealings with third party advertisers.
        </p>

        <h3>Privacy Policy</h3>

        <p>
          USER can browse SITE without revealing USER'S personal information,
          but in order to take advantage of most of the SITE'S services, USER
          must give personal information. By providing personal information,
          USER expressly consents to the collection, use, disclosure and
          retention of USER'S personal information as described in this Privacy
          Policy. This privacy policy, herein referred to as the Privacy Policy,
          covers SITE and PROVIDER'S treatment of personal or personally
          identifiable information, herein referred to as Personal Information,
          that may be collected when USER is on the SITE and when USER uses SITE
          services. This Privacy Policy does not apply to the practices of
          companies or individuals that SITE does not own or exercise
          supervisory control over, or to third party advertisers on the SITE.
        </p>

        <p>
          This Privacy Policy discloses the privacy practices for
          http://SharpSeat.com. It applies solely to information collected by
          this website. This Privacy Policy will notify USER of the following:
        </p>

        <ul>
          <li>
            What personally identifiable information is collected from USER
            through the web site, how it is used, and with whom it may be
            shared.
          </li>
          <li>
            What choices are available to USER regarding the use of USER data.
          </li>
          <li>
            The security procedures in place to protect the misuse of USER
            information.
          </li>
          <li>How USER can correct any inaccuracies in the information.</li>
        </ul>

        <h3>Information Collection, Use, and Sharing</h3>

        <p>
          PROVIDER and FULFILLER are the sole users of the information collected
          on this SITE. PROVIDER only has access to or collects information that
          USER voluntarily gives via emailor other direct contact from USER or
          if USER gives SITE permission to access such information, such as
          requesting or purchasing tickets from a FULFILLER. PROVIDER, along
          with FULFILLER, will use USER's personal information for transactional
          purposes, including those related to customer service for the
          transaction. PROVIDER may also use USER's personal information to
          provide marketing services on behalf of SITE as well as share USER's
          personal information with affiliated entities of PROVIDER to provide
          joint content and services and to market the products and services of
          such entities. PROVIDER may sell USER’S personal information to
          non-financial organizations, such as companies engaged in direct
          marketing and the selling of consumer products and services. If USER
          grants permission to SITE to detect USER’s location, SITE will use
          that information only to refine search results displayed to USER.
        </p>

        <p>
          PROVIDER will use USER information to respond to USER regarding the
          reason USER contacted SITE. PROVIDER will not share USER information
          with any third party outside of PROVIDER’s organizations, other than
          as necessary to fulfill USER request, e.g. to ship an order, or, in
          some instances, to partner with another company to provide certain
          content, programs and services such as those disclosed in the previous
          paragraph. In those cases, PROVIDER will require third party agents to
          maintain the confidentiality of the data. In those situations, when
          USER provides personal information, it may be sent directly to the
          partner company or PROVIDER may share the information with the partner
          company. Unless USER requests otherwise, PROVIDER may contact USER in
          the future to tell USER about specials, new products or services, or
          changes to this privacy policy. Neither SITE nor PROVIDER are
          responsible for the policies or offerings of any third party, and USER
          is urged to review third party’s policies and terms and conditions, as
          they may vary.
        </p>

        <p>
          SITE and PROVIDER will respond to a verified law enforcement, or other
          governmental department request or subpoena relating to a criminal
          investigation, alleged illegal activity, or identity theft. In such
          events, SITE and PROVIDER will disclose information relevant to the
          investigation such as name, city, state, zip code, telephone number,
          email address, fraud complaints, IP address, and credit card
          information. SITE and PROVIDER may also share such information with
          third parties for the purposes of investigating or preventing
          fraudulent activities. SITE and PROVIDER reserve the right to report
          to law enforcement agencies any activities that they believe, in good
          faith, to be unlawful. In the case of identity theft, USER may
          authorize a law enforcement officer to request the records from SITE
          and PROVIDER or USER may request that SITE and PROVIDER send any
          records directly to a law enforcement officer.
        </p>

        <h3>USER Access to and Control Over Information</h3>

        <p>
          USER can do the following, at any time, by contacting PROVIDER via the
          email address or phone number given on the website:
        </p>

        <ul>
          <li>Opt out of any future contact from SITE or PROVIDER</li>
          <li>See what data is on file about USER, if any</li>
          <li>Change or correct any data on file about USER</li>
          <li>Have deleted any data on file about USER</li>
          <li>Express any concern USER has about use of USER data</li>
        </ul>

        <p>
          To stop receiving promotional or marketing emails or to opt-out of
          having USER's information sent to third parties for marketing
          purposes, USER can follow the instructions in any promotional email
          USER receives from SITE. Even if USER opts out of receiving
          promotional or marketing emails, USER will still be contacted with
          transactional messages.
        </p>

        <h3>3rd Party Advertising & Automated Data Collection</h3>

        <p>
          Please note that third party vendors, including but not limited to
          Google, show advertisements for SITE on the internet. Third party
          vendors, including but not limited to Google, use cookies to serve
          advertisements based on USER's prior visits to SITE. To opt out of
          Google's use of cookies and web beacons, USER can visit the Google
          advertising opt-out page available on Google's website at
          www.google.com/privacy/ads. SITE may share, sell, or rent USER
          information collected voluntarily from USER on the SITE with third
          party vendors, advertising companies, or analytics providers including
          but not limited to Google.
        </p>

        <p>
          In addition, SITE participates in targeted advertising. SITE allows
          third-party companies to collect certain information when USER visits
          SITE to provide measurement services to SITE and target ads to USER.
          SITE uses this information to serve ads for SITE'S products or
          services or for the products or services of other companies when USER
          visits this SITE or other websites. These companies use non-personally
          identifiable information (e.g., click stream information, browser
          type, time and date, subject of advertisements clicked or scrolled
          over, hardware or software information, cookie and session ID) and
          personally identifiable information (e.g. IP address) during USER's
          visits to this SITE and other websites in order to provide
          advertisements about goods and services likely to be of greater
          interest to USER. These parties typically use a cookie, third party
          web beacon, or other similar technologies to collect this information.
        </p>

        <p>
          Some browsers have a "do not track" feature that lets USER tell
          websites that USER does not want to have USER's online activities
          tracked. At this time, SITE does not respond to browser "do not track"
          signals, but SITE does provide USER the option to opt out of targeted
          advertising. To learn more about this type of advertising or to
          opt-out of this type of advertising, visit www.aboutads.info/choices.
        </p>

        <h3>Security</h3>

        <p>
          PROVIDER takes precautions to protect USER information. When USER
          submits sensitive information via SITE, USER information is protected
          both online and offline.
        </p>

        <p>
          Whenever sensitive information (such as credit card data) is
          collected, that information is encrypted and transmitted in a secure
          way. USER can verify this by looking for a closed lock icon at the
          bottom of USER web browser, or looking for "https" at the beginning of
          the address of the web page. PROVIDER is committed to not
          re-identifying sensitive information collected by SITE.
        </p>

        <p>
          While encryption is used to protect sensitive information transmitted
          online, PROVIDER also protects USER information offline. Only
          employees who need the information to perform a specific job (for
          example, billing or customer service) are granted access to personally
          identifiable information. The computers and servers on which
          personally identifiable information is stored are kept in a secure
          environment.
        </p>

        <p>
          If USER feels that PROVIDER is not abiding by this Privacy Policy,
          USER should contact SITE immediately via telephone at (844) 425-6950
          or via email at customersupport@mytickettracker.com.
        </p>

        <h3>Copyright Infringement Notification</h3>

        <p>
          Should USER wish to file a copyright infringement notification with
          SharpSeat.com, USER will need to send a written or electronic
          communication that includes all of the following, as based on Section
          512(c)(3) of the Digital Millennium Copyright Act (DMCA)
        </p>

        <ul>
          <li>
            A physical or electronic signature of a person authorized to act on
            behalf of the owner of the material that has allegedly been
            infringed.
          </li>
          <li>
            Identification of the material that is claimed to be infringing or
            to be the subject of infringing activity. *Please provide the URL(s)
            in the body of the email or letter, as this will help us to identify
            the potentially infringing material.
          </li>
          <li>Contact information of the complainant.</li>
          <li>
            A statement that the complainant has a good faith belief that use of
            the material in the manner complained of is a copyright violation.
          </li>
          <li>
            A statement that the information in the notification is accurate,
            and under penalty of perjury, that the complainant is authorized to
            act on behalf of the owner of material that has allegedly been
            infringed.
          </li>
        </ul>

        <p>
          Written or electronic notice of copyright infringement should be
          mailed, faxed, or emailed to SharpSeat.com's designated agent at:
        </p>

        <p>
          <span class="block">Copyright Complaints</span>
          <span class="block">Sharpseat.com</span>
          <span class="block">c/o Ticket Fulfillment Services LP</span>
          <span class="block">Attn: Privacy Policy Feedback</span>
          <span class="block">23000 Sussex Hwy., #232</span>
          <span class="block">Seaford, DE 19973</span>
        </p>
        <p><a href="mailto:support@sharpseat.com">support@sharpseat.com</a></p>

        <h3>Service and Advertising Emails</h3>

        <p>
          SITE may send USER several service-related emails to the email address
          given when placing an order. These include a confirmation email with
          details of USER'S order, a pre-event email reminder about the event to
          be attended, and a post-event email gathering feedback on the USER'S
          experience. When USER places an order, SITE may also add USER to the
          weekly mailing list to be informed of upcoming events. USER can opt
          out of these emails at any time by notifying
          customersupport@mytickettracker.com.
        </p>

        <h3>Amendments</h3>

        <p>
          SITE reserves the right to amend this policy at any time. SITE will
          post a notice of changes on its SITE, when and if the terms of this
          policy are amended.
        </p>

        <p>These policies were last amended on Monday, October 16, 2017.</p>
      </div>
    </div>
  </div>
</Layout>
